.raine-btn {
    &-xl {
        padding: 1.375rem 4.5rem;
        @include respondMax(lg-desktop) {
            padding: 1rem 3.5rem;
        }
        @include respondMax(sm-phone) {
            padding: 0.85rem 2rem;
        }
    }
    &-lg {
        max-width: 29.5rem; //472px
        padding: 1.1rem 0.5rem;
    }
    &-md {
        padding: 1rem 3.25rem;
        @include respondMax(lg-desktop) {
            padding: 0.795rem 2.65rem;
        }
    }
    &-sm {
        padding: 0.785rem 2.3rem;
        @include respondMax(hd-desktop) {
            padding: 0.75rem 2.2rem;
        }
    }
}

.btn {
    transition: all 0.15s ease-in-out;
    &-primary {
        background: linear-gradient(to right, $color-orange 0%, $color-yellow 100%) no-repeat padding-box;
        border: none;

        &:hover {
            background: linear-gradient(to right, $color-yellow 0%, $color-orange 100%) no-repeat padding-box !important;
        }
    }
    &-outline {
        &-primary {
            &:hover {
                color: $color-white !important;
                background: linear-gradient(to right, $color-orange 0%, $color-yellow 100%) no-repeat padding-box;
                border-color: transparent !important;
            }
        }
    }
}
