.select2-container {
    & .select2-selection__rendered {
        color: $color-gray !important;
        font-size: 1.125rem;
        padding-left: 1.35rem !important;
    }
    & .select2-search {
        display: none !important;
    }
    & .select2-selection {
        display: flex;
        justify-items: center;
        align-items: center;
        height: 3.125rem; //50px
    }
    & .select2-dropdown {
        padding: 1rem;
        & .select2-results__options {
            max-height: 200px !important;
            & .select2-results__option {
                background-color: transparent !important;
                color: $color-gray !important;
                &:hover {
                    color: $color-yellow !important;
                }
            }
        }
    }
    & .select2-dropdown--below {
        margin-top: 0.7rem !important;
    }
    & .select2-dropdown--above {
        margin-top: -0.7rem !important;
    }
    & .select2-selection__arrow {
        height: 100% !important;
    }
}

.select-states {
    & .select2-container {
        width: 19.5rem !important;
        & .select2-selection {
            @include respondMin(md-tab) {
                border-top-left-radius: 25px !important;
                border-bottom-left-radius: 25px !important;
            }
        }
        @include respondMax(md-tab) {
            width: 100% !important;
        }
    }
}

.select-minprice {
    & .select2-container {
        width: 13.25rem !important;
        @include respondMax(md-tab) {
            width: 100% !important;
        }
    }
}
.select-maxprice {
    & .select2-container {
        width: 13.25rem !important;
        & .select2-selection {
            @include respondMin(md-tab) {
                border-top-right-radius: 25px !important;
                border-bottom-right-radius: 25px !important;
            }
        }
        @include respondMax(md-tab) {
            width: 100% !important;
        }
    }
}

@mixin raine-filter {
    position: relative !important;
    background-color: $color-dark3 !important;
    background: none;
    & .raine-filtermenu--bg_light {
        background-color: transparent !important;
    }
}

.raine-filter {
    z-index: 1;
    background: linear-gradient(180deg, #00000000, #000) no-repeat;
    @include respondMax(md-tab) {
        @include raine-filter();
    }
    @include max-heightLand() {
        @include raine-filter();
    }
}
