html {
    font-size: 0.8125rem; //13px
    @include respondMin(sm-phone) {
        font-size: 0.875rem; //14px
    }
    @include respondMin(md-tab) {
        font-size: 0.9rem; //14.8px
    }
    @include respondMin(xxl-full-desktop) {
        font-size: 1rem; //16px
    }
    scroll-behavior: smooth;
}

body {
    font-family: "RaineHorne Rg" !important;
    line-height: normal;
    color: $color-gray;
    font-weight: 300;
    overflow-x: hidden !important;
}

// // .fw-900,
// // .fw-400,
// // .fw-600 {
// //     font-family: "Bw Modelica" !important;
// // }

// .fw-100,
// .fw-300,
// .fw-400 .fw-400 {
//     font-family: "RaineHorne Rg" !important;
// }
