.about_us{
    background:  linear-gradient(0deg, #000000b9 0%, #000000bd 100%) 0% 0% no-repeat ,url("../images/banner/about_us.png") no-repeat;
    background-size: cover;
    background-position: center;
}

