.developer-sec{
    background:  linear-gradient(0deg, #00000096 0%, #000000ce 100%) 0% 0% no-repeat ,url("../images/banner/shade.png") no-repeat;
    background-size: cover;
    background-position: center;
}

