.raine-specifc-page {
    background: linear-gradient(180deg, #00000082 0%, #000000cc 100%) 0% 0% no-repeat,
        url("../images/shade.png") no-repeat;
    background-position: center;
    background-size: cover;
}

.images-gallery {
    background-color: rgba($color: $color-gray6, $alpha: 0.1);
    & .img-box {
        & .image-gallery {
            @include respondMax(md-tab) {
                min-height: 23rem;
                max-height: 26.25rem;
            }
        }
        @include respondMin(lg-desktop) {
            & .img-overlay {
                opacity: 0;
            }
            &:hover {
                background-color: $color-gray;
                img {
                    mix-blend-mode: luminosity;
                }
                .img-overlay {
                    opacity: 1;
                    & .bg-yellow {
                        background-color: rgba($color: $color-yellow, $alpha: 0.88) !important;
                    }
                }
            }
        }
        & .raine-full-galley {
            width: 45px;
            height: 45px;
            &:hover {
                color: $color-white !important;
            }
        }
    }
}

.project-feature-sec {
    & .project-feature-img {
        @include respondMin(xl-desktop) {
            margin-left: -37%;
        }
        @include respondMin(xlhd-desktop) {
            margin-left: -20%;
        }
        @include respondMin(xxl-wide-desktop) {
            margin-left: -12%;
        }
        & img {
            width: 80rem;
            @include respondMax(xxl-full-desktop) {
                width: 70rem;
            }
        }
    }
    & .feature-card {
        @include respondMin(hd-desktop) {
            margin-right: -15%;
            width: 46.875rem;
        }
    }
}

.agent-sec {
    background-color: rgba($color: $color-gray6, $alpha: 0.21);
    @include respondMin(md-tab) {
        max-height: 43rem; //688px
        margin-bottom: 5rem;
    }

    & .agent-bg {
        & img {
            @include respondMin(md-tab) {
                height: 45.125rem;
            }
        }
    }
    & a.hover-link {
        transition: all 0.4s ease-in-out;
        i {
            transition: 0.5s ease-in-out;
        }
        &:hover {
            i {
                color: $color-yellow !important;
                &:last-child {
                    transform: translateX(10px);
                }
            }
            color: $color-yellow !important;
        }
    }
}

.map-sec {
    & .map {
        & img {
            max-height: 500px;
        }
    }
}

.fancybox-active {
    margin-right: 0 !important;
    overflow-x: hidden !important ;
    overflow-y: auto !important;
    .fancybox-content {
        img {
            object-fit: inherit !important;
        }
    }
}

.nav_tabs {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    top: 85px;
    @include respondMax(sm-phone) {
        top: 65px;
    }
}

.tabs-sec {
    transition: 0.7s ease-in-out;
    & .raine-nabpills::-webkit-scrollbar {
        display: none;
    }
}
