/*
0px - 360px:		XS Phone
360px - 576px: 		Phone
576px - 768px: 		Tablet Portrait
768px - 992px:		Tablet Landscape
992px - 1200px: 	desktop
1200px - 1920px:	normal Media queries
1920px and up:  	Full HD
*/
/*
$breakpoint arguement choices:
- xs-phone
- phone
- tab-port
- tab-land
- desktop
- full-hd

1em = 16px
*/
html {
  font-size: 0.8125rem;
  scroll-behavior: smooth;
}

@media (min-width: 36em) {
  html {
    font-size: 0.875rem;
  }
}

@media (min-width: 48em) {
  html {
    font-size: 0.9rem;
  }
}

@media (min-width: 100em) {
  html {
    font-size: 1rem;
  }
}

body {
  font-family: "RaineHorne Rg" !important;
  line-height: normal;
  color: #666666;
  font-weight: 300;
  overflow-x: hidden !important;
}

.bg-yellow {
  background-color: #ffcb05 !important;
}

.bg-orange {
  background-color: #f99d1c !important;
}

.bg-black {
  background-color: #000 !important;
}

.bg-dark4 {
  background-color: #393939 !important;
}

.bg-dark1 {
  background-color: #2e2e2e !important;
}

.bg-dark2 {
  background-color: #112d3d !important;
}

.bg-dark3 {
  background-color: #262626 !important;
}

.bg-dark5 {
  background-color: #494949 !important;
}

.bg-gray1 {
  background-color: #666666 !important;
}

.bg-gray2 {
  background-color: #bbbbbb !important;
}

.bg-gray5 {
  background-color: #a0a0a0 !important;
}

.bg-gray7 {
  background-color: #9e9d9d !important;
}

.bg-offwhite-2 {
  background-color: #fafafa !important;
}

.bg-offwhite-3 {
  background-color: #f1f1f1 !important;
}

.bg-offwhite-4 {
  background-color: #f4f4f4 !important;
}

.text-yellow {
  color: #ffcb05 !important;
}

.text-orange {
  color: #f99d1c !important;
}

.text-black {
  color: #000 !important;
}

.text-dark4 {
  color: #393939 !important;
}

.text-dark1 {
  color: #2e2e2e !important;
}

.text-dark2 {
  color: #112d3d !important;
}

.text-dark3 {
  color: #262626 !important;
}

.text-dark5 {
  color: #494949 !important;
}

.text-gray1 {
  color: #666666 !important;
}

.text-gray2 {
  color: #bbbbbb !important;
}

.text-gray5 {
  color: #a0a0a0 !important;
}

.text-gray7 {
  color: #9e9d9d !important;
}

.text-offwhite-2 {
  color: #fafafa !important;
}

.text-offwhite-3 {
  color: #f1f1f1 !important;
}

.text-offwhite-4 {
  color: #f4f4f4 !important;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

html,
body,
div,
span,
section,
p,
a,
img,
ol,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
select,
input,
option {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  cursor: pointer;
}

button {
  border: none;
}

/* remember to define focus styles! */
a:focus {
  outline: 0;
  text-decoration: none;
}

button:focus {
  outline: none;
}

ol,
ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  font-weight: normal;
}

a,
tr,
:hover {
  text-decoration: none;
  outline: none;
  transition: all 200ms ease-in-out 0s;
  -moz-transition: all 200ms ease-in-out 0s;
  -webkit-transition: all 200ms ease-in-out 0s;
}

a:hover {
  text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

table {
  border: 0 none;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

img {
  border: 0 none;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  line-height: normal;
}

/* End hide from IE Mac */
.none {
  display: none;
}

/* End Clearfix */
.clear {
  clear: both;
}

/* For modern browsers */
.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
@font-face {
  font-family: "RaineHorne Rg";
  src: url("../fonts/RaineHorne-Light.woff2") format("woff2"), url("../fonts/RaineHorne-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RaineHorne Rg";
  src: url("../fonts/RaineHorne-Regular.woff2") format("woff2"), url("../fonts/RaineHorne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.fz-10 {
  font-size: 0.625rem;
}

.fz-11 {
  font-size: 0.6875rem;
}

.fz-12 {
  font-size: 0.75rem;
}

.fz-13 {
  font-size: 0.8125rem;
}

.fz-14 {
  font-size: 0.875rem;
}

.fz-15 {
  font-size: 0.9375rem;
}

.fz-16 {
  font-size: 1rem;
}

.fz-17 {
  font-size: 1.0625rem;
}

.fz-18 {
  font-size: 1.125rem;
}

.fz-19 {
  font-size: 1.1875rem;
}

.fz-20 {
  font-size: 1.25rem;
}

.fz-22 {
  font-size: 1.375rem;
}

.fz-24 {
  font-size: 1.5rem;
}

.fz-26 {
  font-size: 1.625rem;
}

.fz-28 {
  font-size: 1.75rem;
}

.fz-30 {
  font-size: 1.875rem;
}

.fz-32 {
  font-size: 2rem;
}

.fz-34 {
  font-size: 2.125rem;
}

.fz-36 {
  font-size: 2.25rem;
}

.fz-40 {
  font-size: 2.5rem;
}

.fz-48 {
  font-size: 3rem;
}

.fz-52 {
  font-size: 3.25rem;
}

.fz-58 {
  font-size: 3.625rem;
}

.fz-60 {
  font-size: 3.75rem;
}

.fz-64 {
  font-size: 4rem;
}

.fz-72 {
  font-size: 4.5rem;
}

.border-rd-40 {
  border-radius: 40px;
}

.border-rd-25 {
  border-radius: 25px;
}

.raine-filtermenu--bg_light {
  background-color: rgba(255, 255, 255, 0.08);
}

@media (min-width: 100em) {
  .raine-containerxxl {
    max-width: 1640px;
  }
}

.lh-1_5 {
  line-height: 1.5;
}

.lh-1_3 {
  line-height: 1.3;
}

.border-gray {
  border-color: #666666 !important;
}

.box-shadow-light {
  -webkit-box-shadow: 50px 50px 50px #00000008;
          box-shadow: 50px 50px 50px #00000008;
}

.box-shadow-light2 {
  -webkit-box-shadow: 0px 20px 30px #0000001a;
          box-shadow: 0px 20px 30px #0000001a;
}

.p-y-140 {
  padding-top: 8.75rem;
  padding-bottom: 8.75rem;
}

@media (max-width: 991.98px) {
  .p-y-140 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media (max-width: 575.98px) {
  .p-y-140 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.p-y-110 {
  padding-top: 6.875rem;
  padding-bottom: 6.875rem;
}

@media (max-width: 1600.98px) {
  .p-y-110 {
    padding-top: 5.875rem;
    padding-bottom: 5.875rem;
  }
}

@media (max-width: 991.98px) {
  .p-y-110 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.p-y-80 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (max-width: 1366.98px) {
  .p-y-80 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media (max-width: 991.98px) {
  .p-y-80 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.line-highlight {
  background-color: #ffcb05;
  width: 80px;
  height: 0.5rem;
}

.project-container .project-box {
  cursor: pointer;
}

.project-container .project-box img {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  height: 100%;
}

.project-container .project-box .project-desc-btn {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.project-container .project-box::after {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(#00000000), color-stop(20%, #00000001), color-stop(35%, #00000001), to(#000000)) no-repeat;
  background: linear-gradient(180deg, #00000000 0%, #00000001 20%, #00000001 35%, #000000 100%) no-repeat;
}

.project-container .project-box:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.project-container .project-box:hover .project-desc-btn {
  opacity: 1;
  z-index: 1;
}

.project-container .project-box .project-desc {
  z-index: 1;
}

.project-container .project-box .project-desc.project-latest .project-desc-inner {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.project-container .project-box .project-desc .project-links {
  opacity: 0;
  padding-right: 1rem;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.project-container .project-box .project-desc .project-links I {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.project-container .project-box .project-desc:hover .project-links {
  opacity: 1;
}

.project-container .project-box .project-desc:hover .project-links i {
  -webkit-transform: translatex(8px);
          transform: translatex(8px);
}

@media (min-width: 48em) {
  .project-container [class^="col-auto"] {
    padding-left: 0.75rem;
    padding-right: 1rem;
  }
}

[class*="fa-"] {
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

[class*="fa-"]:hover {
  color: #ffcb05 !important;
}

@media (max-width: 1199.98px) {
  .title-xxl {
    font-size: 2.85rem;
  }
}

@media (max-width: 991.98px) {
  .title-xxl {
    font-size: 2.5rem;
  }
}

@media (max-width: 575.98px) {
  .title-xxl {
    font-size: 2rem;
  }
}

@media (max-width: 991.98px) {
  .title-xl {
    font-size: 2.5rem;
  }
}

@media (max-width: 575.98px) {
  .title-xl {
    font-size: 2.1rem;
  }
}

@media (max-width: 1199.98px) {
  .title-lg {
    font-size: 2rem;
  }
}

@media (max-width: 575.98px) {
  .title-lg {
    font-size: 1.875rem;
  }
}

@media (max-width: 991.98px) {
  .title-md {
    font-size: 1.75rem;
  }
}

@media (max-width: 575.98px) {
  .title-md {
    font-size: 1.6rem;
  }
}

@media (max-width: 575.98px) {
  .title-sm {
    font-size: 1.32rem;
  }
}

@media (max-width: 575.98px) {
  .title-xs {
    font-size: 1.2rem;
  }
}

@media (min-width: 75em) {
  .wrapper .container-xl {
    max-width: 1180px;
  }
}

@media (min-width: 87.5em) {
  .wrapper .container-xl {
    max-width: 1350px;
  }
}

@media (min-width: 105em) {
  .wrapper .container-xl {
    max-width: 1640px;
  }
}

.project-links {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.project-links svg {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.project-links:hover svg {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.line-divide {
  background-color: #ffcb05;
  height: 5px;
  width: 5rem;
}

@media (max-width: 575.98px) {
  .line-divide {
    width: 3rem;
  }
}

.line-divide-sm {
  min-width: 20px;
  height: 5px;
  margin-top: 6px;
  background-color: #ffcb05;
}

.padd-top {
  padding-top: 85px;
}

@media (max-width: 575.98px) {
  .padd-top {
    padding-top: 65px;
  }
}

@media (max-width: 767.98px) {
  .search-menu {
    width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.form-control,
.form-select {
  color: #666666;
}

.raine-btn-xl {
  width: 19.875rem;
  height: 6.25rem;
}

@media (max-width: 1199.98px) {
  .raine-btn-xl {
    height: 5rem;
    width: 15rem;
  }
}

@media (max-width: 991.98px) {
  .raine-btn-xl {
    width: 14rem;
    height: 4rem;
  }
}

.raine-btn-lg {
  max-width: 29.5rem;
  height: 4.25rem;
}

@media (max-width: 991.98px) {
  .raine-btn-lg {
    height: 4rem;
  }
}

@media (max-width: 767.98px) {
  .raine-btn-lg {
    height: 3.5rem;
  }
}

.raine-btn-md {
  width: 13.25rem;
  height: 4.25rem;
}

@media (max-width: 991.98px) {
  .raine-btn-md {
    height: 4rem;
  }
}

@media (max-width: 767.98px) {
  .raine-btn-md {
    height: 3.5rem;
  }
}

.raine-btn-sm {
  height: 3.125rem;
  width: 9.375rem;
}

@media (max-width: 991.98px) {
  .raine-btn-sm {
    height: 2.975rem;
  }
}

.raine-btn-xs {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 2.5rem;
}

.btn-primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#f99d1c), to(#ffcb05)) no-repeat padding-box;
  background: linear-gradient(180deg, #f99d1c 0%, #ffcb05 100%) no-repeat padding-box;
  border: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn-primary:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffcb05), to(#f99d1c)) no-repeat !important;
  background: linear-gradient(to bottom, #ffcb05 0%, #f99d1c 100%) no-repeat !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#f99d1c), to(#ffcb05)) no-repeat padding-box;
  background: linear-gradient(180deg, #f99d1c 0%, #ffcb05 100%) no-repeat padding-box;
  border: none !important;
}

@media (max-width: 767.98px) {
  .raine-banner-carousel .carousel-item .project-details {
    min-height: 350px;
  }
}

@media (min-width: 48em) {
  .raine-banner-carousel .carousel-item .carousel-overlay {
    min-height: 95vh;
  }
}

.raine-banner-carousel .carousel-item .carousel-images {
  z-index: -1;
}

.raine-banner-carousel .carousel-item .carousel-images::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.raine-banner-carousel .carousel-img {
  z-index: -1;
}

.raine-banner-carousel .carousel-control-next,
.raine-banner-carousel .carousel-control-prev {
  margin-bottom: 40%;
}

@media (max-height: 700px) and (orientation: landscape) {
  .mouse-down,
  .carousel-control {
    display: none !important;
  }
}

.footer-sec {
  background-color: #3c3c3d;
}

.footer-sec .brand-logo {
  width: 17.125rem;
}

@media (max-width: 575.98px) {
  .footer-sec .brand-logo {
    width: 13rem;
  }
}

@media (max-width: 575.98px) {
  .footer-sec .follow-us .fa-2x {
    font-size: 2rem;
  }
}

.footer-sec .raine-foot-link li {
  margin-bottom: 1rem;
}

.footer-sec .raine-foot-link li .raine-link {
  -webkit-transition: none;
  transition: none;
}

.footer-sec .raine-foot-link li .raine-link:hover {
  color: #ffcb05 !important;
}

.footer-sec .policy-link:not(:last-child)::after {
  content: "|";
  padding: 0 1.5rem;
  width: 100%;
  height: 100%;
}

@media (max-width: 575.98px) {
  .footer-sec .policy-link:not(:last-child)::after {
    padding: 0 0.5rem;
  }
}

.footer-sec .policy-link,
.footer-sec .copyright-text {
  opacity: 0.5;
}

.header {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 1055;
  height: 85px;
}

@media (max-width: 575.98px) {
  .header {
    height: 65px;
  }
}

.header.header-bg {
  background-color: #262626 !important;
}

.header .brand-logo {
  width: 19.325rem;
}

@media (max-width: 991.98px) {
  .header .brand-logo {
    width: 16rem;
  }
}

@media (max-width: 575.98px) {
  .header .brand-logo {
    width: 14rem;
  }
}

.header .raine-burger img {
  width: 2.125rem;
}

@media (max-width: 575.98px) {
  .header .raine-burger img {
    width: 1.875rem;
  }
}

.select2-container .select2-selection__rendered {
  color: #666666 !important;
  font-size: 1.125rem;
  padding-left: 1.35rem !important;
}

.select2-container .select2-search {
  display: none !important;
}

.select2-container .select2-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.125rem;
}

.select2-container .select2-dropdown {
  margin: 0.5rem 0 !important;
  padding: 1rem;
}

.select2-container .select2-dropdown .select2-results__options {
  max-height: 200px !important;
}

.select2-container .select2-dropdown .select2-results__options .select2-results__option {
  background-color: transparent !important;
  color: #666666 !important;
}

.select2-container .select2-dropdown .select2-results__options .select2-results__option:hover {
  color: #ffcb05 !important;
}

.select2-container .select2-selection__arrow {
  height: 100% !important;
}

.select-states .select2-container {
  width: 19.5rem !important;
}

@media (min-width: 48em) {
  .select-states .select2-container .select2-selection {
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
  }
}

@media (max-width: 767.98px) {
  .select-states .select2-container {
    width: 100% !important;
  }
}

.select-minprice .select2-container {
  width: 13.25rem !important;
}

@media (max-width: 767.98px) {
  .select-minprice .select2-container {
    width: 100% !important;
  }
}

.select-maxprice .select2-container {
  width: 13.25rem !important;
}

@media (min-width: 48em) {
  .select-maxprice .select2-container .select2-selection {
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
  }
}

@media (max-width: 767.98px) {
  .select-maxprice .select2-container {
    width: 100% !important;
  }
}

.raine-filter {
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#00000000), to(#000)) no-repeat;
  background: linear-gradient(180deg, #00000000, #000) no-repeat;
}

@media (max-width: 767.98px) {
  .raine-filter {
    position: relative !important;
    background-color: #262626 !important;
    background: none;
  }
  .raine-filter .raine-filtermenu--bg_light {
    background-color: transparent !important;
  }
}

@media (max-height: 700px) and (orientation: landscape) {
  .raine-filter {
    position: relative !important;
    background-color: #262626 !important;
    background: none;
  }
  .raine-filter .raine-filtermenu--bg_light {
    background-color: transparent !important;
  }
}

.raine-sidebar {
  -webkit-transform: translateX(-900px);
          transform: translateX(-900px);
  opacity: 0;
  z-index: 2000;
  -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  height: 100%;
  width: 23.1875rem;
  max-height: 1080px;
}

.raine-sidebar > * {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
  -webkit-transition: 0.9s ease-in-out transform;
  transition: 0.9s ease-in-out transform;
}

.raine-sidebar .line-break {
  background-color: #707070;
}

.raine-sidebar .brand {
  padding: 0rem 2.5rem;
}

.raine-sidebar .brand img {
  width: 11.5625rem;
}

.raine-sidebar .sidemenu-link {
  scrollbar-color: #f99d1c #a0a0a0;
  scrollbar-width: thin;
  /* Handle */
}

.raine-sidebar .sidemenu-link::-webkit-scrollbar {
  width: 5px !important;
}

.raine-sidebar .sidemenu-link::-webkit-scrollbar-track {
  background: #a0a0a0;
}

.raine-sidebar .sidemenu-link::-webkit-scrollbar-thumb {
  background: #f99d1c;
}

.raine-sidebar .sidemenu-link .side-ul .nav-items {
  padding: 0.75rem 2.5rem;
}

.raine-sidebar .sidemenu-link .side-ul .nav-items a {
  -webkit-transition: none;
  transition: none;
}

.raine-sidebar .sidemenu-link .side-ul .nav-items a:hover {
  color: #ffcb05 !important;
}

.raine-sidebar .sidemenu-link .side-ul .sideinner-ul .nav-items {
  padding: 0.75rem 1.5rem;
}

.raine-sidebar .sidemenu-link .side-contact {
  padding: 0rem 2.5rem;
}

.side_collaspe .raine-sidebar {
  opacity: 1;
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.side_collaspe .raine-sidebar > * {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  -webkit-transition: 0.9s ease-in-out transform;
  transition: 0.9s ease-in-out transform;
}

.raine-nabpills {
  z-index: 1;
  padding: 2px;
}

@media (min-width: 48em) {
  .raine-nabpills::before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a0a0a0;
    width: 100%;
    z-index: -1;
    content: "";
    height: 5px;
  }
}

.raine-nabpills .raine-tabs-link {
  position: relative;
  padding: 1.2rem;
  background: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.3;
}

@media (min-width: 48em) {
  .raine-nabpills .raine-tabs-link {
    padding: 1.5rem;
  }
}

.raine-nabpills .raine-tabs-link.active {
  color: #ffcb05;
  opacity: 1;
}

.raine-nabpills .raine-tabs-link.active::before {
  background-color: #ffcb05;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 5px;
}

.raine-tabs .raine-tabs-pane {
  min-height: 300px;
}

.owl-carousel .owl-nav {
  display: none;
}

.owl-carousel .owl-dots {
  margin-top: 1.5rem;
}

.owl-carousel .owl-item img {
  height: 100%;
}

.owl-carousel .project-box {
  height: 22.6rem;
}

.project-details {
  padding-top: 10%;
  padding-bottom: 24%;
}

@media (min-width: 75em) {
  .project-details {
    max-height: 830px;
    min-height: 830px;
  }
}

@media (max-width: 767.98px) {
  .project-details {
    padding-top: 29%;
    padding-bottom: 10%;
  }
}

@media (max-height: 700px) and (orientation: landscape) {
  .project-details {
    padding-top: 16%;
    padding-bottom: 16%;
  }
}

.project-details .project-btn {
  opacity: 0;
}

.project-details .project-info {
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

.project-details:hover .project-info {
  -webkit-transform: translate3d(0, -1.5em, 0);
          transform: translate3d(0, -1.5em, 0);
}

.project-details:hover .project-btn {
  opacity: 1;
}

.mouse-down .scroll-down {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-animation: mousedown 1s ease-in-out alternate infinite;
          animation: mousedown 1s ease-in-out alternate infinite;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

@media (max-width: 767.98px) {
  .mouse-down .scroll-down img {
    width: 2.375rem;
  }
}

.mouse-down .scroll-down .polygon-down {
  opacity: 0;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}

.mouse-down .scroll-down .polygon-down {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: mousedown 1s ease-in-out infinite alternate;
          animation: mousedown 1s ease-in-out infinite alternate;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.mouse-down .scroll-down .polygon-down:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.mouse-down .scroll-down .polygon-down:nth-child(3) {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

@-webkit-keyframes mousedown {
  form {
    opacity: 0;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatey(3px);
            transform: translatey(3px);
  }
}

@keyframes mousedown {
  form {
    opacity: 0;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatey(3px);
            transform: translatey(3px);
  }
}

.raine-about-sec .raine-clipoverlay {
  position: absolute;
  top: -2px;
  content: "";
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 40%, 0 55%);
          clip-path: polygon(0 0, 100% 0%, 100% 40%, 0 55%);
  background-color: #000;
}

.raine-about-sec .card-about {
  margin-top: -4.75rem;
  width: 56.6875rem;
  z-index: 3;
}

@media (min-width: 75em) {
  .raine-about-sec .card-about {
    margin-top: 5rem;
  }
}

@media (min-width: 100em) {
  .raine-about-sec .card-about {
    margin-top: 8.75rem;
  }
}

@media (max-width: 991.98px) {
  .raine-about-sec .about-btn {
    font-size: 1.375rem;
  }
}

.raine-about-sec .about-us-img {
  z-index: 2;
}

@media (min-width: 75em) {
  .raine-about-sec .about-us-img {
    margin-left: -21.5%;
  }
  .raine-about-sec .about-us-img img {
    height: 35.0625rem;
  }
}

.raine-info-sec {
  background: linear-gradient(89deg, #000000 0%, #54545400 100%) no-repeat, url(".././images/raine-info.png") no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 767.98px) {
  .raine-info-sec {
    background-position: inherit;
  }
}

.amplify-img {
  height: 23.1875rem;
  right: 1%;
}

@media (min-width: 48em) {
  .project-box {
    height: 21.8125rem;
  }
}

.modal-open {
  overflow: auto;
  padding-right: 0 !important;
}

@media (min-width: 48em) {
  .living-sec .project-box {
    max-width: 518px;
    max-height: 349px;
  }
}

@media (max-width: 767.98px) {
  .living-sec .project-box img {
    width: 100%;
  }
}

.living-us-img img {
  width: 73.0625rem;
}

@media (min-width: 75em) {
  .living-card {
    width: 56.25rem;
    margin-left: -18%;
  }
}

.raine-specifc-page {
  background: -webkit-gradient(linear, left top, left bottom, from(#00000082), to(#000000cc)) 0% 0% no-repeat, url("../images/shade.png") no-repeat;
  background: linear-gradient(180deg, #00000082 0%, #000000cc 100%) 0% 0% no-repeat, url("../images/shade.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.images-gallery {
  background-color: rgba(204, 204, 204, 0.1);
}

@media (max-width: 767.98px) {
  .images-gallery .img-box .image-gallery {
    min-height: 23rem;
    max-height: 26.25rem;
  }
}

@media (min-width: 62em) {
  .images-gallery .img-box .img-overlay {
    opacity: 0;
  }
  .images-gallery .img-box:hover {
    background-color: #666666;
  }
  .images-gallery .img-box:hover img {
    mix-blend-mode: luminosity;
  }
  .images-gallery .img-box:hover .img-overlay {
    opacity: 1;
  }
  .images-gallery .img-box:hover .img-overlay .bg-yellow {
    background-color: rgba(255, 203, 5, 0.88) !important;
  }
}

.images-gallery .img-box .raine-full-galley {
  width: 45px;
  height: 45px;
}

.images-gallery .img-box .raine-full-galley:hover {
  color: #fff !important;
}

@media (max-width: 1537.98px) {
  .images-gallery .img-box .raine-btn-xl.fz-24 {
    font-size: 1.3rem;
    height: 4.5rem;
  }
}

@media (min-width: 75em) {
  .project-feature-sec .project-feature-img {
    margin-left: -37%;
  }
}

@media (min-width: 85.375em) {
  .project-feature-sec .project-feature-img {
    margin-left: -20%;
  }
}

@media (min-width: 105em) {
  .project-feature-sec .project-feature-img {
    margin-left: -12%;
  }
}

.project-feature-sec .project-feature-img img {
  width: 80rem;
}

@media (max-width: 1600.98px) {
  .project-feature-sec .project-feature-img img {
    width: 70rem;
  }
}

.agent-sec {
  background-color: rgba(204, 204, 204, 0.21);
}

@media (min-width: 48em) {
  .agent-sec {
    max-height: 43rem;
    margin-bottom: 5rem;
  }
}

@media (min-width: 48em) {
  .agent-sec .agent-bg img {
    height: 45.125rem;
  }
}

.agent-sec a.hover-link {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.agent-sec a.hover-link i {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.agent-sec a.hover-link:hover {
  color: #ffcb05 !important;
}

.agent-sec a.hover-link:hover i {
  color: #ffcb05 !important;
}

.agent-sec a.hover-link:hover i:last-child {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.map-sec .map img {
  max-height: 500px;
}

.know-sec .raine-btn-xl {
  height: 4.7rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (max-width: 767.98px) {
  .know-sec .raine-btn-xl {
    height: 4rem;
  }
}

.fancybox-active {
  margin-right: 0 !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.fancybox-active .fancybox-content img {
  -o-object-fit: inherit !important;
     object-fit: inherit !important;
}

.nav_tabs {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  top: 85px;
}

@media (max-width: 575.98px) {
  .nav_tabs {
    top: 65px;
  }
}

.tabs-sec {
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.tabs-sec .raine-nabpills::-webkit-scrollbar {
  display: none;
}

.teams-sec {
  background: -webkit-gradient(linear, left bottom, left top, from(#00000096), to(#000000ce)) 0% 0% no-repeat, url("../images/banner/shade.png") no-repeat;
  background: linear-gradient(0deg, #00000096 0%, #000000ce 100%) 0% 0% no-repeat, url("../images/banner/shade.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.team-info-sec .team-tabs .nav-link {
  background-color: #dbdbdb;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 9.5625rem;
  border-radius: 0;
}

.team-info-sec .team-tabs .nav-link:first-child {
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
}

.team-info-sec .team-tabs .nav-link:last-child {
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
}

.team-info-sec .team-tabs .nav-link.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#f99d1c), to(#ffcb05)) no-repeat padding-box;
  background: linear-gradient(180deg, #f99d1c 0%, #ffcb05 100%) no-repeat padding-box;
  color: #fff !important;
}

.team-box {
  cursor: pointer;
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.team-box .project-links {
  opacity: 0;
}

@media (min-width: 48em) {
  .team-box img {
    max-height: 24.4375rem;
  }
}

.team-box .team-overlay {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  background: transparent -webkit-gradient(linear, left top, right top, from(#000000), to(#00000000)) 0% 0% no-repeat;
  background: transparent linear-gradient(90deg, #000000 0%, #00000000 100%) 0% 0% no-repeat;
}

.team-box .team-overlay > * {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.team-box:hover .team-overlay {
  opacity: 1;
}

.team-box:hover .team-overlay > * {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.team-box:hover .project-links {
  opacity: 1;
}

.team-meet-sec .team-meet-indi::before {
  position: absolute;
  left: -50%;
  width: 100%;
  height: 94px;
  bottom: 10%;
  content: "";
  z-index: -1;
  background-color: #ffcb05;
}

@media (max-width: 767.98px) {
  .team-meet-sec .team-meet-indi::before {
    bottom: -6%;
    left: -45%;
  }
}

.team-meet-sec .team-meet-indi img {
  max-height: 483rem;
}

.team-meet-sec .raine-btn-md {
  height: 3.125rem;
  width: 19.5rem;
}

.raine-info {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (max-width: 767.98px) {
  .raine-info {
    width: 90% !important;
    margin: auto;
  }
}

.raine-info::before {
  -webkit-transform: translate(-10%, 0);
          transform: translate(-10%, 0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  content: "";
}

.raine-info:hover span {
  opacity: 0;
}

.raine-info:hover::before {
  position: absolute;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  content: attr(data-hover);
}

.about_us {
  background: -webkit-gradient(linear, left bottom, left top, from(#000000b9), to(#000000bd)) 0% 0% no-repeat, url("../images/banner/about_us.png") no-repeat;
  background: linear-gradient(0deg, #000000b9 0%, #000000bd 100%) 0% 0% no-repeat, url("../images/banner/about_us.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-info::before {
  top: 0;
  left: 0;
  bottom: 0;
  content: "";
  position: absolute;
  width: 0.75rem;
  height: 100%;
  background-color: #ffcb05;
}

.vertical-line {
  opacity: 0.3;
  width: 1px;
}

@media (max-width: 991.98px) {
  .vertical-line {
    width: 100%;
    height: 1px !important;
  }
}

.developer-sec {
  background: -webkit-gradient(linear, left bottom, left top, from(#00000096), to(#000000ce)) 0% 0% no-repeat, url("../images/banner/shade.png") no-repeat;
  background: linear-gradient(0deg, #00000096 0%, #000000ce 100%) 0% 0% no-repeat, url("../images/banner/shade.png") no-repeat;
  background-size: cover;
  background-position: center;
}
/*# sourceMappingURL=main.css.map */